".php":
    'Rocksolid Custom Element - Checkbox':
      'prefix': 'ce-checkbox'
      'body': """
        'checkbox' => [
            'label' => $GLOBALS['TL_LANG']['tl_content']['checkbox'],
            'inputType' => 'checkbox',
            'eval' => ['tl_class' => 'w50 clr'],
        ],
    """
    'Rocksolid Custom Element - DCA Picker':
      'prefix': 'ce-dcapicker'
      'body': """
        'dcapicker' => [
            'label' => $GLOBALS['TL_LANG']['tl_content']['field'],
            'inputType' => 'picker',
            'eval' => ['context' => 'dc.tl_content', 'tl_class' => 'w50 clr'],
        ],
    """
    'Rocksolid Custom Element - Group':
      'prefix': 'ce-group'
      'body': """
        'group_title' => [
            'label' => [$GLOBALS['TL_LANG']['tl_content']['text_legend'],''],
            'inputType' => 'group',
        ],
    """
    'Rocksolid Custom Element - Überschrift Standard':
      'prefix': 'ce-headline-standard'
      'body': """
        'headline' => [
            'label' => $GLOBALS['TL_LANG']['tl_content']['headline'],
            'inputType' => 'standardField',
            'options' => ['h1', 'h2', 'h3', 'h4', 'span'],
            'eval' => ['tl_class' => 'w50 clr', 'allowHtml' => 'true'],
        ],
    """
    'Rocksolid Custom Element - Überschrift Textfeld':
      'prefix': 'ce-headline-textfield'
      'body': """
        'headline' => [
            'label' => $GLOBALS['TL_LANG']['tl_content']['headline'],
            'inputType' => 'inputUnit',
            'options' => ['h1', 'h2', 'h3', 'h4', 'span'],
            'eval' => ['tl_class' => 'w50 clr', 'allowHtml' => 'true'],
        ],
    """
    'Rocksolid Custom Element - Link':
      'prefix': 'ce-hyperlink'
      'body': """
        'url' => [
            'label' => $GLOBALS['TL_LANG']['MSC']['url'],
            'inputType' => 'url',
            'eval' => ['tl_class' => 'w50 clr', 'dcaPicker' => true, 'maxlength' => 255],
        ],
        'target' => [
            'label' => $GLOBALS['TL_LANG']['MSC']['target'],
            'inputType' => 'checkbox',
            'eval' => ['tl_class' => 'w50 m12'],
        ],
        'linkTitle' => [
            'label' => $GLOBALS['TL_LANG']['tl_content']['linkTitle'],
            'inputType' => 'text',
            'eval' => ['tl_class' => 'w50 clr', 'maxlength' => '255'],
        ],
        'titleText' => [
            'label' => $GLOBALS['TL_LANG']['tl_content']['titleText'],
            'inputType' => 'text',
            'eval' => ['tl_class' => 'w50', 'maxlength' => '255'],
        ],
    """
    'Rocksolid Custom Element - Liste':
      'prefix': 'ce-list'
      'body': """
        'list' => [
            'label' => ['de' => ['Liste Label', 'Liste Beschreibung']],
            'elementLabel' => ['de' => ' %s'],
            'inputType' => 'list',
            'minItems' => 1,
            'maxItems' => 5,
            'fields' => [
        
            ],
        ],
    """
    'Rocksolid Custom Element - Select':
      'prefix': 'ce-select'
      'body': """
        'select' => [
            'label' => $GLOBALS['TL_LANG']['tl_content']['select'],
            'inputType' => 'select',
            'options' => ['1' => 'wert1', '2' => 'wert2'],
            'eval' => ['tl_class' => 'w50 wizard', 'includeBlankOption' => true],
        ],
    """
    'Rocksolid Custom Element - Contentelement':
      'prefix': 'ce-standard-contentelement'
      'body': """
        <?php
        return [
            'label' => $GLOBALS['TL_LANG']['tl_content']['rsce_custom_element'],
            'types' => ['content'],
            'contentCategory' => 'texts', 'media', 'image', 'eigene',
            'standardFields' => ['cssID'],
            'fields' => [
        
            ],
        ];
    """
    'Rocksolid Custom Element - Module':
      'prefix': 'ce-standard-module'
      'body': """
        <?php
        return [
            'label' => $GLOBALS['TL_LANG']['tl_content']['mod_custom_element'],
            'types' => ['module'],
            'moduleCategory' => 'miscellaneous', 'eigene',
            'standardFields' => ['cssID'],
            'fields' => [
        
            ],
        ];
      """
    'Rocksolid Custom Element - Text':
      'prefix': 'ce-text'
      'body': """
        'text' => [
            'label' => $GLOBALS['TL_LANG']['tl_content']['text'],
            'inputType' => 'text',
            'eval' => ['tl_class' => 'long clr', 'rte' => 'tinyMCE', 'helpwizard' => true],
            'explanation' => 'insertTags',
        ],
    """
    'Rocksolid Custom Element - Textfeld':
      'prefix': 'ce-textfield'
      'body': """
        'textfield' => [
            'label' => $GLOBALS['TL_LANG']['tl_content']['text'],
            'inputType' => 'text',
            'eval' => ['tl_class' => 'w50 clr'],
        ],
    """
    'Rocksolid Custom Element - Wrapper Start':
      'prefix': 'ce-wrapper-start'
      'body': """
        <?php
        return [
            'label' => $GLOBALS['TL_LANG']['tl_content']['rsce_custom_element'],
            'types' => ['content'],
            'contentCategory' => 'media',
            'standardFields' => ['cssID'],
            'wrapper' => ['type' => 'start'],
            'fields' => [
        
            ],
        ];
    """
    'Rocksolid Custom Element - Wrapper Stop':
      'prefix': 'ce-wrapper-stop'
      'body': """
        <?php
        return [
            'label' => $GLOBALS['TL_LANG']['tl_content']['rsce_custom_element'],
            'types' => ['content'],
            'contentCategory' => 'media',
            'standardFields' => ['cssID'],
            'wrapper' => ['type' => 'stop'],
            'fields' => [
        
            ],
        ];
    """
    'Rocksolid Custom Element - Image':
      'prefix': 'ce-image'
      'body': """
        'singleSRC' => [
            'label' => $GLOBALS['TL_LANG']['tl_content']['singleSRC'],
            'inputType' => 'fileTree',
            'eval' => ['filesOnly' => 'true','files' => 'true','fieldType' => 'radio','tl_class' => 'clr w50']
        ],
        'size' => [
            'label' => $GLOBALS['TL_LANG']['MSC']['imgSize'],
            'inputType' => 'imageSize',
            'options' => System::getImageSizes(),
            'reference' => &$GLOBALS['TL_LANG']['MSC'],
            'eval' => ['rgxp' => 'natural', 'includeBlankOption' => true, 'nospace' => true, 'helpwizard' => true, 'tl_class' => 'clr w50'],
        ],
        'floating' => [
            'label' => $GLOBALS['TL_LANG']['tl_content']['floating'],
            'inputType' => 'radioTable',
            'options' => ['above', 'left', 'right', 'below'],
            'default' => 'left',
            'eval' => ['cols' => 4, 'tl_class' => 'w50 clr'],
            'reference' => &$GLOBALS['TL_LANG']['MSC'],
        ],
        'fullsize' => [
            'label' => $GLOBALS['TL_LANG']['tl_content']['fullsize'],
            'inputType' => 'checkbox',
            'eval' => ['tl_class' => 'w50 m12'],
        ],
        'overwriteMeta' => [
            'label' => $GLOBALS['TL_LANG']['tl_content']['overwriteMeta'],
            'inputType' => 'checkbox',
            'eval' => ['tl_class' => 'w50 clr'],
        ],
        'alt' => [
            'label' => $GLOBALS['TL_LANG']['tl_content']['alt'],
            'inputType' => 'text',
            'eval' => ['tl_class' => 'w50 clr', 'maxlength' => 255],
            'dependsOn' => 'overwriteMeta',
        ],
        'imageUrl' => [
            'label' => $GLOBALS['TL_LANG']['tl_content']['imageUrl'],
            'inputType' => 'text',
            'eval' => ['rgxp' => 'url', 'decodeEntities' => true, 'maxlength' => 255, 'dcaPicker' => true, 'addWizardClass' => false, 'tl_class' => 'w50'],
            'dependsOn' => 'overwriteMeta',
        ],
        'imageTitle' => [
            'label' => $GLOBALS['TL_LANG']['tl_content']['imageTitle'],
            'inputType' => 'text',
            'eval' => ['tl_class' => 'w50 clr', 'maxlength' => '255'],
            'dependsOn' => 'overwriteMeta',
        ],
        'caption' => [
            'label' => $GLOBALS['TL_LANG']['tl_content']['caption'],
            'inputType' => 'text',
            'eval' => ['maxlength' => 255, 'allowHtml' => true, 'tl_class' =>  'w50'],
            'dependsOn' => 'overwriteMeta',
        ],
    """